<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>main_page</title>
    <link rel="stylesheet" href="\static\css.css" />
      <style>
          @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

    body {
      background-image: url('/static/download.jpeg');
      background-size: cover;
      background-position: center;
      min-height: 100vh;

    }
    .input-container {
      color:white;
    }
            .margin{
          margin-left:600px;
          }

      </style>
  </head>
  <body>

    <div class="head">
      <h1>
          Credit Card Fraud Prediction
      </h1>
        <div class="margin">
        <a href="{{ url_for('home') }}" class="da">        Home           </a>||<a href="{{ url_for('data') }}" class="data">     data            </a>||<a href="{{ url_for('Data_Analytics') }}" class="da">        Data Analytics           </a>||<a href="{{ url_for('accuracy') }}" class="accuracy">           accuracy           </a>||<a href="{{ url_for('prediction') }}" class="pre">    Prediction values            </a>
        </div>

    </div>


    <div class="input-container">
      <table>
           <thead><td>Time    </td><td>Amount    </td><td>V    </td><td>Class </td></thead>

      {%for i in range(0,data_set.shape[0])%}
      <tr>
            {%for j in range(0,data_set.shape[1])%}
                  <td>{{data_set.iloc[i,j]}}</td>
            {%endfor%}
      </tr>
      {%endfor%}
      </table>
    </div>

  </body>
</html>